.good{
  background-color: rgb(85, 168, 79);
  font-weight: 700;
}

.fair{
  background-color: rgb(163, 200, 83);
  font-weight: 700;
}

.moderate{
  background-color: rgb(255, 248, 51);
  font-weight: 700;
}

.poor{
  background-color: rgb(242, 156, 51);
  font-weight: 700;
}

.verypoor{
  background-color: rgb(233, 63, 51);
  font-weight: 700;
}

.severe{
  background-color: rgb(175, 45, 36);
  font-weight: 700;
}





